go 1.19

use (
	.

	./apps/external/jennifer
	./apps/external/memoryfs
	./apps/external/tables-to-go
	./apps/external/tojen
	./apps/external/web3

	./apps/olympus/artemis
	./apps/olympus/apollo
	./apps/olympus/athena
	./apps/olympus/hestia
	./apps/olympus/zeus
	./apps/olympus/hypnos
)
