go 1.20

use (
	.

	./apps/external/jennifer
	./apps/external/memoryfs
	./apps/external/tables-to-go
	./apps/external/tojen
	./apps/external/web3

	./apps/olympus/aegis
	./apps/olympus/apollo
	./apps/olympus/artemis
	./apps/olympus/athena
	./apps/olympus/choreography/hydra
	./apps/olympus/downloader
	./apps/olympus/hera
	./apps/olympus/hestia
	./apps/olympus/hydra
	./apps/olympus/hypnos
	./apps/olympus/poseidon

	./apps/olympus/zeus

	./apps/zeus
)
