apiVersion: apps/v1
kind: Deployment
metadata:
  name: "zeus"
  labels:
    app.kubernetes.io/instance: "zeus"
    app.kubernetes.io/name: "zeus"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: "zeus"
      app.kubernetes.io/instance: "zeus"
  template:
    metadata:
      labels:
        app.kubernetes.io/name: "zeus"
        app.kubernetes.io/instance: "zeus"
    spec:
      imagePullSecrets:
        - name: zeus-fyi-ext
      containers:
        - name: "zeus"
          image: "registry.digitalocean.com/zeus-fyi/zeus:latest"
          volumeMounts:
            - mountPath: "/scripts"
              name: "cm-zeus"
            - mountPath: "/secrets"
              name: "secrets"
          imagePullPolicy: Always
          command: [ "/bin/sh" ]
          args: [ "-c","/scripts/start.sh" ]
          env:
            - name: USE_GKE_GCLOUD_AUTH_PLUGIN
              value: "true"
            - name: PG_CONN_STR
              valueFrom:
                secretKeyRef:
                  name: postgres-auth
                  key: postgres-conn-str
            - name: AGE_PKEY
              valueFrom:
                secretKeyRef:
                  name: age-auth
                  key: age-private-key
            - name: DO_SPACES_KEY
              valueFrom:
                secretKeyRef:
                  name: spaces-key
                  key: do-spaces-key
            - name: DO_SPACES_PKEY
              valueFrom:
                secretKeyRef:
                  name: spaces-auth
                  key: do-spaces-private-key
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: aws-auth
                  key: aws-access-key
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: aws-auth
                  key: aws-secret-key
            - name: AWS_DEFAULT_REGION
              valueFrom:
                secretKeyRef:
                  name: aws-auth
                  key: aws-default-region
          ports:
            - name: "http"
              containerPort: 9001
              protocol: "TCP"
          livenessProbe:
            httpGet:
              path: "/health"
              port: "http"
          readinessProbe:
            failureThreshold: 5
            httpGet:
              path: "/health"
              port: "http"
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 3
          resources:
            {}
      volumes:
        - name: cm-zeus
          configMap:
            name: cm-zeus
            defaultMode: 0744
        - name: secrets
          emptyDir:
            medium: Memory
      nodeSelector:
        {}
      affinity:
        {}
      tolerations:
        []
