name: Build Zeus Cloud App

on:
  push:
    paths:
      - .github/workflows/zeus_cloud.yml
      - apps/olympus/hestia/**
    branches:
      - main

permissions:
  contents: read
  id-token: write

env:
  REPO: registry.digitalocean.com/zeus-fyi
  NAME: zeus-cloud
  TAG: latest
  GOOS: linux
  GOARCH: amd64

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Depot CLI
        uses: depot/setup-action@v1

      - name: Clone external repos into workspace
        run: |
          mkdir -p apps/external
          cd apps/external
          git clone https://github.com/zeus-fyi/web3.git --branch master --single-branch
          git clone https://github.com/zeus-fyi/tables-to-go.git --branch master --single-branch
          git clone https://github.com/zeus-fyi/jennifer.git --branch master --single-branch
          git clone https://github.com/zeus-fyi/tojen.git --branch master --single-branch
          git clone https://github.com/zeus-fyi/memoryfs.git --branch master --single-branch
          git clone https://github.com/zeus-fyi/flashbotsrpc.git --branch master --single-branch

      - name: Clone external zeus repo into workspace
        run: |
          mkdir -p apps
          cd apps
          git clone https://github.com/zeus-fyi/zeus.git --branch main --single-branch

      - name: Install dependencies
        run: |
          wget https://github.com/digitalocean/doctl/releases/download/v1.78.0/doctl-1.78.0-linux-amd64.tar.gz -O doctl.tar.gz
          tar xf doctl.tar.gz -C /usr/local/bin

      - name: Build And Publish Zeus Cloud App
        run: |
          sed -i '/\.\/apps\/external\/go-ethereum/d' go.work
          doctl registry login -t ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
          depot build \
          -t ${{ env.REPO }}/${{ env.NAME }}:${{ env.TAG}} \
          --platform=${{ env.GOOS }}/${{ env.GOARCH }} \
          --token ${{ secrets.DEPOT_TOKEN }} \
          --provenance=false \
          -f docker/zeus_cloud/Dockerfile . --push

